src/jade/particals/specialists.jade
.row
	.specialists_cards__wrap
		.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
			.specialists_photo
				img(src="../images/person11.jpg", alt="")
			.specialists_name
				span Жанна Нуралина
			.specialists_contact
				span drb@kazks.kz вн. 58016

		.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
			.specialists_photo
				img(src="../images/person11.jpg", alt="")
			.specialists_name
				span  Ольга Эм
			.specialists_contact
				span drb@kazks.kz вн. 58013

		.specialists_cards__item(data-aos="fade-up" data-aos-delay="300"  data-aos-easing="ease")
			.specialists_photo
				img(src="../images/manager2.jpg", alt="")
			.specialists_name
				span Карлыгаш Абишева
			.specialists_contact
				span ashakirov@kazks.kz вн. 58038

		.specialists_cards__item(data-aos="fade-up" data-aos-delay="400"  data-aos-easing="ease")
			.specialists_photo
				img(src="../images/manager2.jpg", alt="")
			.specialists_name
				span Тогжан Дауренбекова
			.specialists_contact
				span ashakirov@kazks.kz вн. 58057

build/html/particals/specialists.html

<div class="row">
  <div class="specialists_cards__wrap">
    <div data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease" class="specialists_cards__item">
      <div class="specialists_photo"><img src="../images/person11.jpg" alt=""/></div>
      <div class="specialists_name"><span>Жанна Нуралина</span></div>
      <div class="specialists_contact"><span>drb@kazks.kz вн. 58016</span></div>
    </div>
    <div data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease" class="specialists_cards__item">
      <div class="specialists_photo"><img src="../images/person11.jpg" alt=""/></div>
      <div class="specialists_name"><span> Ольга Эм</span></div>
      <div class="specialists_contact"><span>drb@kazks.kz вн. 58013</span></div>
    </div>
    <div data-aos="fade-up" data-aos-delay="300" data-aos-easing="ease" class="specialists_cards__item">
      <div class="specialists_photo"><img src="../images/manager2.jpg" alt=""/></div>
      <div class="specialists_name"><span>Карлыгаш Абишева</span></div>
      <div class="specialists_contact"><span>ashakirov@kazks.kz вн. 58038</span></div>
    </div>
    <div data-aos="fade-up" data-aos-delay="400" data-aos-easing="ease" class="specialists_cards__item">
      <div class="specialists_photo"><img src="../images/manager2.jpg" alt=""/></div>
      <div class="specialists_name"><span>Тогжан Дауренбекова</span></div>
      <div class="specialists_contact"><span>ashakirov@kazks.kz вн. 58057</span></div>
    </div>
  </div>
</div>
