build/html/about.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><style>#page-preloader { position: fixed;left: 0; top: 0;right: 0;bottom: 0;background: #fff; z-index: 100500;}#page-preloader .spinner { width: 400px; height: 300px; position: absolute;left: 50%; top: 50%; transform: translate(-50%, -50%); background: url('../images/icons/preloader.gif') center center no-repeat;}</style>		
    <link rel="stylesheet" href="../css/vendor.min.css">
    <link rel="stylesheet" href="../css/common.min.css">
    <title>Заголовок</title>
  </head>
  <body>
    <div id="page-preloader"><span class="spinner"></span></div>
    <div class="wrapper">
      <!-- header-->
      <header id="header" class="header">
        <div class="container">
          <div class="header_wrap">
            <button class="header_mobile__menu hidden-md hidden-lg"><img src="/images/icons/menu-icon.png" alt=""></button>
            <div class="header_logo"><a href="/"><img src="/images/icons/logo.png" alt="logo" class="header_logo__img"></a></div>
            <div class="header_nav">
              <div class="header_nav__call visible-lg visible-md"><span>+7 (727) 244-65-05</span></div>
              <div class="header_nav__menu">
                <ul class="main_menu">
                  <li><a href="#">О компании</a>
                    <div class="header_nav__menu__dropdown">
                      <ul class="container">
                        <li><a href="#">Коротко о нас</a></li>
                        <li><a href="#">Наша команда</a></li>
                        <li><a href="#">Награды</a></li>
                        <li><a href="#">Сделки</a></li>
                        <li><a href="#">Корпоративное управление</a></li>
                        <li><a href="#">Карьера</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Услуги</a>
                    <div class="header_nav__menu__dropdown">
                      <ul class="container">
                        <li><a href="#">Пункт меню 1</a></li>
                        <li><a href="#">Пункт меню 2</a></li>
                        <li><a href="#">Пункт меню 3</a></li>
                        <li><a href="#">Пункт меню 4</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Аналитика</a></li>
                  <li><a href="#">Study room</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="header_right-block">
              <div class="header_right-block__social"><a href="#" class="header_right-block__social__icon visible-lg visible-md"><img src="/images/icons/facebook.svg" alt=""></a><a href="#" class="header_right-block__social__icon visible-lg visible-md"><img src="/images/icons/instagram.svg" alt=""></a>
                <div class="header_right-block__social__icon change_lang">Ru
                  <div class="multi_lang"><a href="" class="multi_lang__type">Kz						</a><a href="" class="multi_lang__type">Eng						</a></div>
                </div><a href="#" class="header_right-block__social__icon show__search"><img src="/images/icons/search.svg" alt="" class="visible-lg visible-md"><img src="/images/icons/search-mobile.png" alt="" class="hidden-md hidden-lg"></a>
              </div>
              <div class="header_right-block__buttons visible-lg visible-md"><a href="#" class="btn btn--beige">QTrader</a><a href="#" class="btn btn--default">Открыть счет</a></div>
            </div>
            <div class="header_search-block">
              <form action="#" name="header_search-block">
                <input type="search" placeholder="Что вы искали?">
                <button>Найти</button>
              </form>
              <button class="header_search-block__close arrow bounce"><img src="/images/icons/closed.svg" alt=""></button>
            </div>
            <!--mobile menu-->
            <ul class="mobile_menu">
              <li class="mobile_menu__accordion"><a href="#">О компании								</a>
                <ul class="mobile_menu__dropdown">
                  <li><a href="#">Коротко о нас</a></li>
                  <li><a href="#">Наша команда</a></li>
                  <li><a href="#">Награды</a></li>
                  <li><a href="#">Сделки</a></li>
                  <li><a href="#">Корпоративное управление</a></li>
                  <li><a href="#">Карьера</a></li>
                </ul>
              </li>
              <li class="mobile_menu__accordion"><a href="#">Услуги								</a>
                <ul class="mobile_menu__dropdown">
                  <li><a href="#">Пункт меню 1</a></li>
                  <li><a href="#">Пункт меню 2</a></li>
                  <li><a href="#">Пункт меню 3</a></li>
                  <li><a href="#">Пункт меню 4</a></li>
                </ul>
              </li>
              <li><a href="#">Аналитика</a></li>
              <li><a href="#">Study room</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <div class="main">
        <div id="layout_about" class="layout_default">
          <!--block banner_about-->
          <div class="full_banner banner_about">
            <div class="breadcrumbs">
              <div class="container">
                <div class="breadcrumbs_inset"><a href="#" class="breadcrumb_inset__link">Главная</a><a href="#" class="breadcrumb_inset__link">О компании</a><span class="navigation_page">Коротко о нас</span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div data-rellax-speed="2" class="full_banner__content rellax">
                  <div class="full_banner__content__title"><span>Коротко о нас</span></div>
                  <div class="full_banner__content__text">
                    <p>Каждый из нас несет ответственность за собственное будущее, которое всецело зависит от того, какие решения мы принимаем сейчас.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="scroll_down arrow">
              <div class="scroll_down__line"></div><a href="#scroll_about" class="scroll_down__icon"></a>
            </div>
          </div>
          <!--block qtrader-->
          <div id="scroll_about" class="default_block qazkom">
            <div class="container">
              <div data-aos="fade-up" class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="default_block__title"><span>Казком Секьюритиз - один из крупнейших инвестиционных банков Казахстана и Центральной Азии</span></div>
                <div class="default_block__text">
                  <p>Неоднакратно признавался лучшим по мнению ведущих международных агентств за эффективность, надежность и высокий уровень корпоративного управления.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                  <div class="qazkom__content">
                    <div data-rellax-speed="1.4" class="qazkom__content__img rellax hidden-xs"><img src="/images/qazkom.jpg" alt=""></div>
                    <div data-rellax-speed="1.8" class="qazkom__content__card rellax">
                      <div class="qazkom__content__title"><span>Мы являемся <b class="bold">100%</b> дочерней огранизацией<span class="qazkom__content__logo">QAZKOM</span></span></div>
                      <div class="qazkom__content__text">
                        <p>Одного из крупнейших финансовых институтов Центральной Азии.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div data-aos="fade-up" class="qazkom_about">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                  <div class="qazkom_about__title"><span>Наша компания была основана в 1997 году, и сегодня отмечает свой 20-летний юбилей, будучи лидером на фондовом рынке.</span></div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 qazkom_about__text">
                    <p>За эти годы, обеспечивая высокий уровень обслуживания и внедряя международные стандарты работы, мы смогли добиться высокого признания и заработать хорошую репутацию не только среди казахстанских инвесторов и казахстанского бизнеса, но и среди зарубежных партнеров.</p>
                  </div>
                  <div class="col-xs-12 col-sm-6 qazkom_about__text">
                    <p>Модель интегрированного инвестиционного банка позволяет нам предложить полный спектр услуг на рынках капитала: брокерские услуги, управление инвестиционным портфелем, финансовое консультирование по вопросам выпуска и размещения ценных бумаг, организация и сопровождение сделок M&A, аналитические исследования и рекомендации, оценку бизнеса и др.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--block trust_us-->
          <div class="container">
            <div class="default_block default_block__blue trust_us">
              <div class="row">			
                <div data-aos="fade-up" class="col-xs-12 col-md-8 col-md-offset-2">
                  <div class="default_block__title"><span>Сегодня нам доверяют</span></div>
                  <div class="default_block__text">
                    <p>Нашими клиентами являются государственные институты, национальные компании и холдинги, ведущие частные предприятия страны, крупнейшие страховые организации, а также широкий круг розничных инвесторов.</p>
                  </div>
                </div>
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                  <ul class="trust_us__list">
                    <li data-aos="fade-up" data-aos-easing="ease">Крупные страховые компании</li>
                    <li data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease">Национальные холдинги</li>
                    <li data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease">Национальные компании</li>
                    <li data-aos="fade-up" data-aos-delay="300" data-aos-easing="ease">Минфин РК</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--block our_mission-->
          <div class="container">
            <div data-aos="fade-up" class="default_block our_mission">
              <div class="row">			
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                  <div class="default_block__title"><span>Наша миссия - предоставить  лучшие финансовые решения сегодня и в будущем</span></div>
                  <div class="default_block__text">
                    <p>Мы ориентируемся на индивидуальные потребности наших клиентов и обеспечивая высокое качество, инновационный подоход и отлаженные механизмы работы.</p>
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="our_mission__wrap">
                    <div class="our_mission__item">
                      <div class="our_mission__item__logo"><img src="/images/icons/about-page-icon1.svg" alt=""></div>
                      <div class="our_mission__item__text">
                        <p>20 лет успеха, традиций и финансовых инноваций</p>
                      </div>
                    </div>
                    <div class="our_mission__item">
                      <div class="our_mission__item__logo"><img src="/images/icons/about-page-icon2.svg" alt=""></div>
                      <div class="our_mission__item__text">
                        <p>Один из крупнейших инвестиционных банков</p>
                      </div>
                    </div>
                    <div class="our_mission__item">
                      <div class="our_mission__item__logo"><img src="/images/icons/advantage4.svg" alt=""></div>
                      <div class="our_mission__item__text">
                        <p>Команда с опытом на РЦБ более 10 лет</p>
                      </div>
                    </div>
                    <div class="our_mission__item">
                      <div class="our_mission__item__logo"><img src="/images/icons/about-page-icon4.svg" alt=""></div>
                      <div class="our_mission__item__text">
                        <p>Свыше 70 млрд. тг. активов под управлением</p>
                      </div>
                    </div>
                    <div class="our_mission__item">
                      <div class="our_mission__item__logo"><img src="/images/icons/about-page-icon5.svg" alt=""></div>
                      <div class="our_mission__item__text">
                        <p>Оператор народного IPO и государственной программы приватизации</p>
                      </div>
                    </div>
                    <div class="our_mission__item">
                      <div class="our_mission__item__logo"><img src="/images/icons/about-page-icon6.svg" alt=""></div>
                      <div class="our_mission__item__text">
                        <p>Лучшая аналитика и экспертиза </p>
                      </div>
                    </div>
                    <div class="our_mission__item">
                      <div class="our_mission__item__logo"><img src="/images/icons/about-page-icon7.svg" alt=""></div>
                      <div class="our_mission__item__text">
                        <p>Лидер среди андеррайтеров</p>
                      </div>
                    </div>
                    <div class="our_mission__item">
                      <div class="our_mission__item__logo"><img src="/images/icons/about-page-icon8.svg" alt=""></div>
                      <div class="our_mission__item__text">
                        <p>Высокая оценка и признание</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--block financial_indicators-->
          <div class="container">
            <div class="default_block financial_indicators">
              <div class="row">			
                <div data-aos="fade-up" class="col-xs-12 col-md-8 col-md-offset-2">
                  <div class="default_block__title"><span>Финансовые показатели за 2016 год</span></div>
                </div>
                <div data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease" class="col-xs-6 col-sm-3">
                  <div class="financial_indicators__card">
                    <div class="financial_indicators__title"><span>Активы</span></div>
                    <div class="financial_indicators__number"><span>15,0</span></div>
                    <div class="financial_indicators__currency"><span>млрд. тг</span></div>
                  </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease" class="col-xs-6 col-sm-3">
                  <div class="financial_indicators__card">
                    <div class="financial_indicators__title"><span>Капитал</span></div>
                    <div class="financial_indicators__number"><span>14,7</span></div>
                    <div class="financial_indicators__currency"><span>млрд. тг</span></div>
                  </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="300" data-aos-easing="ease" class="col-xs-6 col-sm-3">
                  <div class="financial_indicators__card">
                    <div class="financial_indicators__title"><span>Чистая прибыль</span></div>
                    <div class="financial_indicators__number"><span>2,5</span></div>
                    <div class="financial_indicators__currency"><span>млрд. тг</span></div>
                  </div>
                </div>
                <div data-aos="fade-up" data-aos-delay="400" data-aos-easing="ease" class="col-xs-6 col-sm-3">
                  <div class="financial_indicators__card">
                    <div class="financial_indicators__title"><span>ROE</span></div>
                    <div class="financial_indicators__number"><span>>20%</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-->
      <footer class="footer">
        <div class="container">
          <div class="footer_wrap"><a href="#header" class="scroll_up">
              <div class="scroll_up__wrapper">
                <div class="scroll_up__icon"></div>
                <div class="scroll_up__line"></div>
              </div></a>
            <div class="footer_top">
              <div class="footer_top__nav"><span class="footer_top__nav__title">О компании</span>
                <ul>
                  <li><a href="#">Коротко о нас</a></li>
                  <li><a href="#">Наша команда</a></li>
                  <li><a href="#">Награды</a></li>
                  <li><a href="#">Сделки</a></li>
                  <li><a href="#">Корпоративное управление</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
              <div class="footer_top__nav"><span class="footer_top__nav__title">Услуги</span>
                <ul>
                  <li><a href="#">Брокерское обслуживание</a></li>
                  <li><a href="#">Управление активами</a></li>
                  <li><a href="#">Инвестиционный Банкинг</a></li>
                  <li><a href="#">Маркет-мейкерство</a></li>
                  <li><a href="#">ПДО</a></li>
                </ul>
              </div>
              <div class="footer_top__nav"><span class="footer_top__nav__title">Аналитика</span>
                <ul>
                  <li><a href="#">Обзор рынка</a></li>
                  <li><a href="#">Макроэкономика и отраслевой анализ</a></li>
                  <li><a href="#">Инвестиционные</a></li>
                  <li><a href="#">Рекомендации</a></li>
                  <li><a href="#">Каленьдарь событий</a></li>
                  <li><a href="#">Отчеты ПДО</a></li>
                </ul>
              </div>
              <div class="footer_top__right">
                <div class="footer_top__contact"><span class="footer_top__contact__phone">+7 (727) 244-65-05<small>Для звонков по Казахстану</small></span><small class="footer_top__contact__map">ул.Фурманова 240 Г, БЦ «CDC ONE», 10-11 этаж.</small></div>
                <div class="footer_top__social">
                  <div class="footer_top__social__icon__wrap"><a href="#" class="footer_top__social__icon"><img src="/images/icons/facebook.svg" alt=""></a><a href="#" class="footer_top__social__icon"><img src="/images/icons/instagram.svg" alt=""></a></div>
                </div>
                <div class="footer_top__buttons__wrap"><a href="#subscribe_popup" class="btn btn--light popup-with-move-anim">Подписка на аналитику</a><a href="#qtrader_callback_popup" class="btn btn--light popup-with-move-anim">Заказать звонок</a></div>
              </div>
            </div>
            <div class="footer_bottom">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>Акционерное общество «Казкоммерц Секьюритиз» (дочерняя организация АО «Казкоммерцбанк»).</p>
                <p>Лицензия на осуществление деятельности по управлению инвестиционным портфелем  без  права  привлечения  добровольных  пенсионных  взносов  №0403200439  от  24.06.2014 </p>
                <p>Лицензия на занятие брокерской и дилерской деятельностью на рынке ценных бумаг с правом ведения счетов клиентов  в  качестве  номинального  держателя  №0401201207   от  17.05.2006</p><span class="footer_bottom__copyright">© АО «Казкоммерц Секьюритиз». Все права защищены.</span>
                <div class="logo-ibecsystems"> <span>Сделано в</span><a href="#"><img src="/images/icons/ibec-systems.svg" alt="ibecsystems"></a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- popup windows-->
      <div id="investment-popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Оставьте контактные данные и мы свяжемся с Вами</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <input type="tel" placeholder="Телефон" minlength="18" required>
            <button class="btn btn--beige">Подать заявку</button>
          </form>
        </div>
      </div>
      <div id="qtrader_callback_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Оставьте контактные данные и мы свяжемся с Вами</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <input type="tel" placeholder="Телефон" minlength="18" required>
            <button class="btn btn--default">Заказать звонок</button>
          </form>
        </div>
      </div>
      <div id="subscribe_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <button class="btn btn--default">Подписаться</button>
          </form>
        </div>
      </div>
      <div id="open_account_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Откройте счет прямо сейчас</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="tel" placeholder="Телефон" required>
            <input type="text" placeholder="Адрес проживания/прописки" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <div class="flex-wrap flex-center input_file">
              <label for="file">Загрузить файл/удостоверение личности</label><span class="btn--doc"></span>
              <input type="file" id="file">
            </div>
            <div class="flex-vertical"><span>или</span><span>Отправить файл/удостоверение личности на WhatsApp +7 (701) 783-44-87</span>
              <button class="btn btn--beige">Отправить</button>
            </div>
          </form>
        </div>
      </div>
      <div id="contact_page_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_form">
          <form action="#" method="">
            <div class="flex-wrap">
              <input type="text" placeholder="ФИО" minlength="6" required>
              <input type="email" placeholder="E-mail" required>
            </div>
            <textarea placeholder="Сообщение" required></textarea>
            <button class="btn btn--beige">Отправить</button>
          </form>
        </div>
      </div>
      <div id="success_message" class="zoom-anim-dialog mfp-hide popup">
        <p>Ваше сообщение доставлено.</p>
      </div>
      <!-- vendor scripts-->
      <script src="/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/vendor/swiper/dist/js/swiper.min.js"></script>
      <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
      <script src="/vendor/matchHeight/dist/jquery.matchHeight-min.js"></script>
      <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
      <script src="/vendor/aos/dist/aos.js"></script>
      <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/vendor/rellax/rellax.min.js"></script>
      <script src="/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
      <script src="/vendor/jquery.form-styler/jquery.formstyler.min.js"></script>
      <script src="/vendor/fancyselect/fancySelect.js"></script>
      <script src="/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
      <script src="/vendor/Inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
      <script src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <!-- common.js-->
      <script src="/scripts/common.min.js"></script>
    </div>
  </body>
</html>

src/jade/about.jade
extends template/template.jade

block content

	#layout_about.layout_default
		
		//block banner_about
		.full_banner.banner_about
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							a(href="#").breadcrumb_inset__link О компании
							span.navigation_page Коротко о нас
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.full_banner__content.rellax(data-rellax-speed="2")
							.full_banner__content__title
								span Коротко о нас
							.full_banner__content__text
								p Каждый из нас несет ответственность за собственное будущее, которое всецело зависит от того, какие решения мы принимаем сейчас.
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_about").scroll_down__icon

		//block qtrader
		.default_block.qazkom#scroll_about
			.container
				.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Казком Секьюритиз - один из крупнейших инвестиционных банков Казахстана и Центральной Азии
						.default_block__text
							p Неоднакратно признавался лучшим по мнению ведущих международных агентств за эффективность, надежность и высокий уровень корпоративного управления.
				.row
					.col-xs-12.col-md-10.col-md-offset-1
							.qazkom__content
								.qazkom__content__img.rellax(data-rellax-speed="1.4").hidden-xs
									img(src="#{img}/qazkom.jpg", alt="")
								.qazkom__content__card.rellax(data-rellax-speed="1.8")
									.qazkom__content__title
										span Мы являемся <b class="bold">100%</b> дочерней огранизацией
											span.qazkom__content__logo QAZKOM
									.qazkom__content__text
										p Одного из крупнейших финансовых институтов Центральной Азии.
				.qazkom_about(data-aos="fade-up")
					.col-xs-12.col-md-8.col-md-offset-2
						.qazkom_about__title
							span Наша компания была основана в 1997 году, и сегодня отмечает свой 20-летний юбилей, будучи лидером на фондовом рынке.
					.row
						.col-xs-12.col-sm-6.qazkom_about__text
							p За эти годы, обеспечивая высокий уровень обслуживания и внедряя международные стандарты работы, мы смогли добиться высокого признания и заработать хорошую репутацию не только среди казахстанских инвесторов и казахстанского бизнеса, но и среди зарубежных партнеров.
						.col-xs-12.col-sm-6.qazkom_about__text
							p Модель интегрированного инвестиционного банка позволяет нам предложить полный спектр услуг на рынках капитала: брокерские услуги, управление инвестиционным портфелем, финансовое консультирование по вопросам выпуска и размещения ценных бумаг, организация и сопровождение сделок M&A, аналитические исследования и рекомендации, оценку бизнеса и др.

		//block trust_us
		.container
			.default_block.default_block__blue.trust_us
				.row			
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__title
								span Сегодня нам доверяют
							.default_block__text
								p Нашими клиентами являются государственные институты, национальные компании и холдинги, ведущие частные предприятия страны, крупнейшие страховые организации, а также широкий круг розничных инвесторов.
					
					.col-xs-12.col-md-10.col-md-offset-1
						ul.trust_us__list
							li(data-aos="fade-up" data-aos-easing="ease") Крупные страховые компании
							li(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease") Национальные холдинги
							li(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease") Национальные компании
							li(data-aos="fade-up" data-aos-delay="300"  data-aos-easing="ease") Минфин РК

		//block our_mission
		.container
			.default_block.our_mission(data-aos="fade-up")
				.row			
					.col-xs-12.col-md-8.col-md-offset-2
							.default_block__title
								span Наша миссия - предоставить  лучшие финансовые решения сегодня и в будущем
							.default_block__text
								p Мы ориентируемся на индивидуальные потребности наших клиентов и обеспечивая высокое качество, инновационный подоход и отлаженные механизмы работы.
					.col-xs-12
						.our_mission__wrap
							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon1.svg", alt="")
								.our_mission__item__text
									p 20 лет успеха, традиций и финансовых инноваций

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon2.svg", alt="")
								.our_mission__item__text
									p Один из крупнейших инвестиционных банков

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/advantage4.svg", alt="")
								.our_mission__item__text
									p Команда с опытом на РЦБ более 10 лет

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon4.svg", alt="")
								.our_mission__item__text
									p Свыше 70 млрд. тг. активов под управлением

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon5.svg", alt="")
								.our_mission__item__text
									p Оператор народного IPO и государственной программы приватизации

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon6.svg", alt="")
								.our_mission__item__text
									p Лучшая аналитика и экспертиза 

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon7.svg", alt="")
								.our_mission__item__text
									p Лидер среди андеррайтеров

							.our_mission__item
								.our_mission__item__logo
									img(src="/images/icons/about-page-icon8.svg", alt="")
								.our_mission__item__text
									p Высокая оценка и признание

		//block financial_indicators
		.container
			.default_block.financial_indicators
				.row			
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
							.default_block__title
								span Финансовые показатели за 2016 год
					.col-xs-6.col-sm-3(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
						.financial_indicators__card
							.financial_indicators__title
								span Активы
							.financial_indicators__number
								span 15,0
							.financial_indicators__currency
								span млрд. тг
					
					.col-xs-6.col-sm-3(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
						.financial_indicators__card
							.financial_indicators__title
								span Капитал
							.financial_indicators__number
								span 14,7
							.financial_indicators__currency
								span млрд. тг

					.col-xs-6.col-sm-3(data-aos="fade-up" data-aos-delay="300"  data-aos-easing="ease")
						.financial_indicators__card
							.financial_indicators__title
								span Чистая прибыль
							.financial_indicators__number
								span 2,5
							.financial_indicators__currency
								span млрд. тг

					.col-xs-6.col-sm-3(data-aos="fade-up" data-aos-delay="400"  data-aos-easing="ease")
						.financial_indicators__card
							.financial_indicators__title
								span ROE
							.financial_indicators__number
								span >20%
							

								
