build/html/career.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><style>#page-preloader { position: fixed;left: 0; top: 0;right: 0;bottom: 0;background: #fff; z-index: 100500;}#page-preloader .spinner { width: 400px; height: 300px; position: absolute;left: 50%; top: 50%; transform: translate(-50%, -50%); background: url('../images/icons/preloader.gif') center center no-repeat;}</style>		
    <link rel="stylesheet" href="../css/vendor.min.css">
    <link rel="stylesheet" href="../css/common.min.css">
    <title>Заголовок</title>
  </head>
  <body>
    <div id="page-preloader"><span class="spinner"></span></div>
    <div class="wrapper">
      <!-- header-->
      <header id="header" class="header">
        <div class="container">
          <div class="header_wrap">
            <button class="header_mobile__menu hidden-md hidden-lg"><img src="/images/icons/menu-icon.png" alt=""></button>
            <div class="header_logo"><a href="/"><img src="/images/icons/logo.png" alt="logo" class="header_logo__img"></a></div>
            <div class="header_nav">
              <div class="header_nav__call visible-lg visible-md"><span>+7 (727) 244-65-05</span></div>
              <div class="header_nav__menu">
                <ul class="main_menu">
                  <li><a href="#">О компании</a>
                    <div class="header_nav__menu__dropdown">
                      <ul class="container">
                        <li><a href="#">Коротко о нас</a></li>
                        <li><a href="#">Наша команда</a></li>
                        <li><a href="#">Награды</a></li>
                        <li><a href="#">Сделки</a></li>
                        <li><a href="#">Корпоративное управление</a></li>
                        <li><a href="#">Карьера</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Услуги</a>
                    <div class="header_nav__menu__dropdown">
                      <ul class="container">
                        <li><a href="#">Пункт меню 1</a></li>
                        <li><a href="#">Пункт меню 2</a></li>
                        <li><a href="#">Пункт меню 3</a></li>
                        <li><a href="#">Пункт меню 4</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Аналитика</a></li>
                  <li><a href="#">Study room</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="header_right-block">
              <div class="header_right-block__social"><a href="#" class="header_right-block__social__icon visible-lg visible-md"><img src="/images/icons/facebook.svg" alt=""></a><a href="#" class="header_right-block__social__icon visible-lg visible-md"><img src="/images/icons/instagram.svg" alt=""></a>
                <div class="header_right-block__social__icon change_lang">Ru
                  <div class="multi_lang"><a href="" class="multi_lang__type">Kz						</a><a href="" class="multi_lang__type">Eng						</a></div>
                </div><a href="#" class="header_right-block__social__icon show__search"><img src="/images/icons/search.svg" alt="" class="visible-lg visible-md"><img src="/images/icons/search-mobile.png" alt="" class="hidden-md hidden-lg"></a>
              </div>
              <div class="header_right-block__buttons visible-lg visible-md"><a href="#" class="btn btn--beige">QTrader</a><a href="#" class="btn btn--default">Открыть счет</a></div>
            </div>
            <div class="header_search-block">
              <form action="#" name="header_search-block">
                <input type="search" placeholder="Что вы искали?">
                <button>Найти</button>
              </form>
              <button class="header_search-block__close arrow bounce"><img src="/images/icons/closed.svg" alt=""></button>
            </div>
            <!--mobile menu-->
            <ul class="mobile_menu">
              <li class="mobile_menu__accordion"><a href="#">О компании								</a>
                <ul class="mobile_menu__dropdown">
                  <li><a href="#">Коротко о нас</a></li>
                  <li><a href="#">Наша команда</a></li>
                  <li><a href="#">Награды</a></li>
                  <li><a href="#">Сделки</a></li>
                  <li><a href="#">Корпоративное управление</a></li>
                  <li><a href="#">Карьера</a></li>
                </ul>
              </li>
              <li class="mobile_menu__accordion"><a href="#">Услуги								</a>
                <ul class="mobile_menu__dropdown">
                  <li><a href="#">Пункт меню 1</a></li>
                  <li><a href="#">Пункт меню 2</a></li>
                  <li><a href="#">Пункт меню 3</a></li>
                  <li><a href="#">Пункт меню 4</a></li>
                </ul>
              </li>
              <li><a href="#">Аналитика</a></li>
              <li><a href="#">Study room</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <div class="main">
        <div id="layout_career" class="layout_default">
          <!--block banner_career-->
          <div class="full_banner banner_career">
            <div class="breadcrumbs">
              <div class="container">
                <div class="breadcrumbs_inset"><a href="#" class="breadcrumb_inset__link">Главная</a><a href="#" class="breadcrumb_inset__link">О компании</a><span class="navigation_page">Карьера</span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-md-6 col-md-offset-3">
                <div data-rellax-speed="2" class="full_banner__content rellax">
                  <div class="full_banner__content__title"><span>Карьера</span></div>
                  <div class="full_banner__content__text">
                    <p>Мы открыты для талантливых, энергичных, творческих и преданных делу людей, способных внести существенный вклад в развитие компании и финансовой отрасли</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="scroll_down arrow">
              <div class="scroll_down__line"></div><a href="#scroll_career" class="scroll_down__icon"></a>
            </div>
          </div>
          <!--block default-->
          <div id="scroll_career" class="default_block">
            <div class="container">
              <div data-aos="fade-up" class="col-xs-12 col-md-8 col-md-offset-2">
                <div class="default_block__title"><span>Вы растете и развиваетесь вместе с Казком Секьюритиз</span></div>
                <div class="default_block__text">
                  <p>Работа в ведущем инвестиционном банке страны позволит вам открыть широкий спектр возможностей для профессионального роста и новых карьерных высот</p>
                </div>
              </div>
            </div>
          </div>
          <!--block vacancy-->
          <div data-aos="fade-up" class="vacancy">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="vacancy_title"><span>Текущие вакансии</span></div>
                  <div class="vacancy_content">
                    <div class="vacancy_card">
                      <div class="vacancy_card__title"><span class="btn--arrow-right"></span><span>Департамент информационных технологий</span><span class="vacancy_counter">3</span></div>
                      <div class="vacancy_card__active">
                        <div class="vacancy_item">
                          <div class="vacancy_item__profession"><span>Системный аналитик</span></div>
                          <div class="vacancy_item__city"><span>Алматы</span></div>
                        </div>
                        <div class="vacancy_item">
                          <div class="vacancy_item__profession"><span>Ведущий Java Разработчик</span></div>
                          <div class="vacancy_item__city"><span>Алматы</span></div>
                        </div>
                        <div class="vacancy_item">
                          <div class="vacancy_item__profession"><span>Ведущий программист</span></div>
                          <div class="vacancy_item__city"><span>Алматы</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="vacancy_card">
                      <div class="vacancy_card__title"><span class="btn--arrow-right"></span><span>Департамент информационных технологий</span><span class="vacancy_counter">2</span></div>
                      <div class="vacancy_card__active">
                        <div class="vacancy_item">
                          <div class="vacancy_item__profession"><span>Системный аналитик</span></div>
                          <div class="vacancy_item__city"><span>Алматы</span></div>
                        </div>
                        <div class="vacancy_item">
                          <div class="vacancy_item__profession"><span>Ведущий Java Разработчик</span></div>
                          <div class="vacancy_item__city"><span>Алматы</span></div>
                        </div>
                        <div class="vacancy_item">
                          <div class="vacancy_item__profession"><span>Ведущий программист</span></div>
                          <div class="vacancy_item__city"><span>Алматы</span></div>
                        </div>
                      </div>
                    </div>
                    <div class="vacancy_card">
                      <div class="vacancy_card__title"><span class="btn--arrow-right"></span><span>Департамент информационных технологий</span><span class="vacancy_counter">6</span></div>
                      <div class="vacancy_card__active">
                        <div class="vacancy_item">
                          <div class="vacancy_item__profession"><span>Системный аналитик</span></div>
                          <div class="vacancy_item__city"><span>Алматы</span></div>
                        </div>
                        <div class="vacancy_item">
                          <div class="vacancy_item__profession"><span>Ведущий Java Разработчик</span></div>
                          <div class="vacancy_item__city"><span>Алматы</span></div>
                        </div>
                        <div class="vacancy_item">
                          <div class="vacancy_item__profession"><span>Ведущий программист</span></div>
                          <div class="vacancy_item__city"><span>Алматы</span></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--block vacancy_form-->
          <div data-aos="fade-up" class="vacancy_form">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1">
                  <div class="vacancy_form__wrap default_block">
                    <div class="row">
                      <div class="col-xs-12 col-md-8 col-md-offset-2">
                        <div class="default_block__title"><span>Хотите работать у нас?</span></div>
                        <div class="default_block__text"><span>Давайте познакомимся - заполните пожалуйста, форму ниже</span></div>
                        <form action="#" method="#">
                          <div class="flex-wrap">
                            <input type="text" placeholder="Имя" required>
                            <input type="text" placeholder="Фамилия" required>
                            <input type="text" placeholder="Отчество" required>
                            <input type="tel" placeholder="Мобильный" required>
                            <input type="email" placeholder="E-mail" required>
                            <input type="text" placeholder="Ссылка на резюме" required>
                            <textarea name="#" placeholder="Сопроводительное письмо" minlength="6" required></textarea>
                          </div>
                          <div class="flex-wrap flex-center input_file">
                            <label for="file">Прикрепить файл резюме</label><span class="btn--doc"></span>
                            <input type="file" id="file">
                          </div>
                          <div class="flex-wrap flex-center">
                            <input type="checkbox" id="checkbox" required>
                            <label for="checkbox">Согласен на обработку персональных данных</label>
                          </div>
                          <button class="btn btn--beige">Отправить</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--block	specialists-->
          <div data-aos="fade-up" class="default_block specialists">
            <div class="container">
              <div class="row">
                <div class="col-xs-12 col-md-10 col-md-offset-1"><hr/></div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
                  <div class="default_block__text"><span>Если есть дополнительные вопросы, просьба обращаться к нашим сотрудникам</span></div>
                </div>
              </div>
              <div class="row">
                <div class="specialists_cards__wrap">
                  <div class="specialists_cards__item">
                    <div class="specialists_photo"><img src="../images/manager2.jpg" alt=""></div>
                    <div class="specialists_name"><span>Дилара Абдрахманова</span></div>
                    <div class="specialists_contact"><span>info@kazks.kz <br/></span><span>+7 (727) 244 65 05</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-->
      <footer class="footer">
        <div class="container">
          <div class="footer_wrap"><a href="#header" class="scroll_up">
              <div class="scroll_up__wrapper">
                <div class="scroll_up__icon"></div>
                <div class="scroll_up__line"></div>
              </div></a>
            <div class="footer_top">
              <div class="footer_top__nav"><span class="footer_top__nav__title">О компании</span>
                <ul>
                  <li><a href="#">Коротко о нас</a></li>
                  <li><a href="#">Наша команда</a></li>
                  <li><a href="#">Награды</a></li>
                  <li><a href="#">Сделки</a></li>
                  <li><a href="#">Корпоративное управление</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
              <div class="footer_top__nav"><span class="footer_top__nav__title">Услуги</span>
                <ul>
                  <li><a href="#">Брокерское обслуживание</a></li>
                  <li><a href="#">Управление активами</a></li>
                  <li><a href="#">Инвестиционный Банкинг</a></li>
                  <li><a href="#">Маркет-мейкерство</a></li>
                  <li><a href="#">ПДО</a></li>
                </ul>
              </div>
              <div class="footer_top__nav"><span class="footer_top__nav__title">Аналитика</span>
                <ul>
                  <li><a href="#">Обзор рынка</a></li>
                  <li><a href="#">Макроэкономика и отраслевой анализ</a></li>
                  <li><a href="#">Инвестиционные</a></li>
                  <li><a href="#">Рекомендации</a></li>
                  <li><a href="#">Каленьдарь событий</a></li>
                  <li><a href="#">Отчеты ПДО</a></li>
                </ul>
              </div>
              <div class="footer_top__right">
                <div class="footer_top__contact"><span class="footer_top__contact__phone">+7 (727) 244-65-05<small>Для звонков по Казахстану</small></span><small class="footer_top__contact__map">ул.Фурманова 240 Г, БЦ «CDC ONE», 10-11 этаж.</small></div>
                <div class="footer_top__social">
                  <div class="footer_top__social__icon__wrap"><a href="#" class="footer_top__social__icon"><img src="/images/icons/facebook.svg" alt=""></a><a href="#" class="footer_top__social__icon"><img src="/images/icons/instagram.svg" alt=""></a></div>
                </div>
                <div class="footer_top__buttons__wrap"><a href="#subscribe_popup" class="btn btn--light popup-with-move-anim">Подписка на аналитику</a><a href="#qtrader_callback_popup" class="btn btn--light popup-with-move-anim">Заказать звонок</a></div>
              </div>
            </div>
            <div class="footer_bottom">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>Акционерное общество «Казкоммерц Секьюритиз» (дочерняя организация АО «Казкоммерцбанк»).</p>
                <p>Лицензия на осуществление деятельности по управлению инвестиционным портфелем  без  права  привлечения  добровольных  пенсионных  взносов  №0403200439  от  24.06.2014 </p>
                <p>Лицензия на занятие брокерской и дилерской деятельностью на рынке ценных бумаг с правом ведения счетов клиентов  в  качестве  номинального  держателя  №0401201207   от  17.05.2006</p><span class="footer_bottom__copyright">© АО «Казкоммерц Секьюритиз». Все права защищены.</span>
                <div class="logo-ibecsystems"> <span>Сделано в</span><a href="#"><img src="/images/icons/ibec-systems.svg" alt="ibecsystems"></a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- popup windows-->
      <div id="investment-popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Оставьте контактные данные и мы свяжемся с Вами</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <input type="tel" placeholder="Телефон" minlength="18" required>
            <button class="btn btn--beige">Подать заявку</button>
          </form>
        </div>
      </div>
      <div id="qtrader_callback_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Оставьте контактные данные и мы свяжемся с Вами</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <input type="tel" placeholder="Телефон" minlength="18" required>
            <button class="btn btn--default">Заказать звонок</button>
          </form>
        </div>
      </div>
      <div id="subscribe_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <button class="btn btn--default">Подписаться</button>
          </form>
        </div>
      </div>
      <div id="open_account_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Откройте счет прямо сейчас</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="tel" placeholder="Телефон" required>
            <input type="text" placeholder="Адрес проживания/прописки" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <div class="flex-wrap flex-center input_file">
              <label for="file">Загрузить файл/удостоверение личности</label><span class="btn--doc"></span>
              <input type="file" id="file">
            </div>
            <div class="flex-vertical"><span>или</span><span>Отправить файл/удостоверение личности на WhatsApp +7 (701) 783-44-87</span>
              <button class="btn btn--beige">Отправить</button>
            </div>
          </form>
        </div>
      </div>
      <div id="contact_page_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_form">
          <form action="#" method="">
            <div class="flex-wrap">
              <input type="text" placeholder="ФИО" minlength="6" required>
              <input type="email" placeholder="E-mail" required>
            </div>
            <textarea placeholder="Сообщение" required></textarea>
            <button class="btn btn--beige">Отправить</button>
          </form>
        </div>
      </div>
      <div id="success_message" class="zoom-anim-dialog mfp-hide popup">
        <p>Ваше сообщение доставлено.</p>
      </div>
      <!-- vendor scripts-->
      <script src="/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/vendor/swiper/dist/js/swiper.min.js"></script>
      <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
      <script src="/vendor/matchHeight/dist/jquery.matchHeight-min.js"></script>
      <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
      <script src="/vendor/aos/dist/aos.js"></script>
      <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/vendor/rellax/rellax.min.js"></script>
      <script src="/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
      <script src="/vendor/jquery.form-styler/jquery.formstyler.min.js"></script>
      <script src="/vendor/fancyselect/fancySelect.js"></script>
      <script src="/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
      <script src="/vendor/Inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
      <script src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <!-- common.js-->
      <script src="/scripts/common.min.js"></script>
    </div>
  </body>
</html>

src/jade/career.jade
extends template/template.jade

block content

	#layout_career.layout_default
		
		//block banner_career
		.full_banner.banner_career
				.breadcrumbs
					.container
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							a(href="#").breadcrumb_inset__link О компании
							span.navigation_page Карьера
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.full_banner__content.rellax(data-rellax-speed="2")
							.full_banner__content__title
								span Карьера
							.full_banner__content__text
								p Мы открыты для талантливых, энергичных, творческих и преданных делу людей, способных внести существенный вклад в развитие компании и финансовой отрасли
				.scroll_down.arrow
						.scroll_down__line
						a(href="#scroll_career").scroll_down__icon
		
		//block default
		.default_block#scroll_career
			.container
				.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Вы растете и развиваетесь вместе с Казком Секьюритиз
						.default_block__text
							p Работа в ведущем инвестиционном банке страны позволит вам открыть широкий спектр возможностей для профессионального роста и новых карьерных высот

		//block vacancy
		.vacancy(data-aos="fade-up")
			.container
				.row
					.col-xs-12
						.vacancy_title
							span Текущие вакансии
						.vacancy_content
							.vacancy_card
								.vacancy_card__title
									span.btn--arrow-right
									span Департамент информационных технологий
									span.vacancy_counter 3
								.vacancy_card__active
									.vacancy_item
										.vacancy_item__profession
											span Системный аналитик
										.vacancy_item__city
											span Алматы
									.vacancy_item
										.vacancy_item__profession
											span Ведущий Java Разработчик
										.vacancy_item__city
											span Алматы

									.vacancy_item
										.vacancy_item__profession
											span Ведущий программист
										.vacancy_item__city
											span Алматы
									
							.vacancy_card
								.vacancy_card__title
									span.btn--arrow-right
									span Департамент информационных технологий
									span.vacancy_counter 2
								.vacancy_card__active
									.vacancy_item
										.vacancy_item__profession
											span Системный аналитик
										.vacancy_item__city
											span Алматы
									.vacancy_item
										.vacancy_item__profession
											span Ведущий Java Разработчик
										.vacancy_item__city
											span Алматы

									.vacancy_item
										.vacancy_item__profession
											span Ведущий программист
										.vacancy_item__city
											span Алматы
							.vacancy_card
								.vacancy_card__title
									span.btn--arrow-right
									span Департамент информационных технологий
									span.vacancy_counter 6
								.vacancy_card__active
									.vacancy_item
										.vacancy_item__profession
											span Системный аналитик
										.vacancy_item__city
											span Алматы
									.vacancy_item
										.vacancy_item__profession
											span Ведущий Java Разработчик
										.vacancy_item__city
											span Алматы

									.vacancy_item
										.vacancy_item__profession
											span Ведущий программист
										.vacancy_item__city
											span Алматы

		//block vacancy_form
		.vacancy_form(data-aos="fade-up")
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1
						.vacancy_form__wrap.default_block
							.row
								.col-xs-12.col-md-8.col-md-offset-2
									.default_block__title
										span Хотите работать у нас?
									.default_block__text
										span Давайте познакомимся - заполните пожалуйста, форму ниже
									form(action="#" method="#")
										.flex-wrap
											input(type="text" placeholder="Имя" required)
											input(type="text" placeholder="Фамилия" required)
											input(type="text" placeholder="Отчество" required)
											input(type="tel" placeholder="Мобильный" required)
											input(type="email" placeholder="E-mail" required)
											input(type="text" placeholder="Ссылка на резюме" required)
											textarea(name="#" placeholder="Сопроводительное письмо" minlength="6" required)
										.flex-wrap.flex-center.input_file
											label(for="file") Прикрепить файл резюме
											span.btn--doc
											input(type="file" id="file")
										.flex-wrap.flex-center
											input(type="checkbox" id="checkbox" required)
											label(for="checkbox") Согласен на обработку персональных данных
										button.btn.btn--beige Отправить

		//block	specialists
		
		.default_block.specialists(data-aos="fade-up")
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1
						<hr/>
				.row
					.col-xs-12.col-md-6.col-md-offset-3
						.default_block__text
							span Если есть дополнительные вопросы, просьба обращаться к нашим сотрудникам
				.row
					.specialists_cards__wrap
							.specialists_cards__item
								.specialists_photo
									img(src="../images/manager2.jpg", alt="")
								.specialists_name
									span Дилара Абдрахманова
								.specialists_contact
									span info@kazks.kz <br/>
									span +7 (727) 244 65 05
