build/html/news.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><style>#page-preloader { position: fixed;left: 0; top: 0;right: 0;bottom: 0;background: #fff; z-index: 100500;}#page-preloader .spinner { width: 400px; height: 300px; position: absolute;left: 50%; top: 50%; transform: translate(-50%, -50%); background: url('../images/icons/preloader.gif') center center no-repeat;}</style>		
    <link rel="stylesheet" href="../css/vendor.min.css">
    <link rel="stylesheet" href="../css/common.min.css">
    <title>Заголовок</title>
  </head>
  <body>
    <div id="page-preloader"><span class="spinner"></span></div>
    <div class="wrapper">
      <!-- header-->
      <header id="header" class="header">
        <div class="container">
          <div class="header_wrap">
            <button class="header_mobile__menu hidden-md hidden-lg"><img src="/images/icons/menu-icon.png" alt=""></button>
            <div class="header_logo"><a href="/"><img src="/images/icons/logo.png" alt="logo" class="header_logo__img"></a></div>
            <div class="header_nav">
              <div class="header_nav__call visible-lg visible-md"><span>+7 (727) 244-65-05</span></div>
              <div class="header_nav__menu">
                <ul class="main_menu">
                  <li><a href="#">О компании</a>
                    <div class="header_nav__menu__dropdown">
                      <ul class="container">
                        <li><a href="#">Коротко о нас</a></li>
                        <li><a href="#">Наша команда</a></li>
                        <li><a href="#">Награды</a></li>
                        <li><a href="#">Сделки</a></li>
                        <li><a href="#">Корпоративное управление</a></li>
                        <li><a href="#">Карьера</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Услуги</a>
                    <div class="header_nav__menu__dropdown">
                      <ul class="container">
                        <li><a href="#">Пункт меню 1</a></li>
                        <li><a href="#">Пункт меню 2</a></li>
                        <li><a href="#">Пункт меню 3</a></li>
                        <li><a href="#">Пункт меню 4</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Аналитика</a></li>
                  <li><a href="#">Study room</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="header_right-block">
              <div class="header_right-block__social"><a href="#" class="header_right-block__social__icon visible-lg visible-md"><img src="/images/icons/facebook.svg" alt=""></a><a href="#" class="header_right-block__social__icon visible-lg visible-md"><img src="/images/icons/instagram.svg" alt=""></a>
                <div class="header_right-block__social__icon change_lang">Ru
                  <div class="multi_lang"><a href="" class="multi_lang__type">Kz						</a><a href="" class="multi_lang__type">Eng						</a></div>
                </div><a href="#" class="header_right-block__social__icon show__search"><img src="/images/icons/search.svg" alt="" class="visible-lg visible-md"><img src="/images/icons/search-mobile.png" alt="" class="hidden-md hidden-lg"></a>
              </div>
              <div class="header_right-block__buttons visible-lg visible-md"><a href="#" class="btn btn--beige">QTrader</a><a href="#" class="btn btn--default">Открыть счет</a></div>
            </div>
            <div class="header_search-block">
              <form action="#" name="header_search-block">
                <input type="search" placeholder="Что вы искали?">
                <button>Найти</button>
              </form>
              <button class="header_search-block__close arrow bounce"><img src="/images/icons/closed.svg" alt=""></button>
            </div>
            <!--mobile menu-->
            <ul class="mobile_menu">
              <li class="mobile_menu__accordion"><a href="#">О компании								</a>
                <ul class="mobile_menu__dropdown">
                  <li><a href="#">Коротко о нас</a></li>
                  <li><a href="#">Наша команда</a></li>
                  <li><a href="#">Награды</a></li>
                  <li><a href="#">Сделки</a></li>
                  <li><a href="#">Корпоративное управление</a></li>
                  <li><a href="#">Карьера</a></li>
                </ul>
              </li>
              <li class="mobile_menu__accordion"><a href="#">Услуги								</a>
                <ul class="mobile_menu__dropdown">
                  <li><a href="#">Пункт меню 1</a></li>
                  <li><a href="#">Пункт меню 2</a></li>
                  <li><a href="#">Пункт меню 3</a></li>
                  <li><a href="#">Пункт меню 4</a></li>
                </ul>
              </li>
              <li><a href="#">Аналитика</a></li>
              <li><a href="#">Study room</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <div class="main">
        <div id="layout_news" class="layout_default">
          <!--block banner		-->
          <div class="banner_service banner">
            <div class="banner_service__card news">
              <div class="container">
                <div class="breadcrumbs">
                  <div class="breadcrumbs_inset"><a href="#" class="breadcrumb_inset__link">Главная</a><span class="navigation_page">Новости</span></div>
                </div>
                <div data-rellax-speed="2" class="banner_service__card__content rellax">
                  <div class="banner_service__card__icon"><?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 17.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 442 442" style="enable-background:new 0 0 442 442;" xml:space="preserve" width="512px" height="512px">
<g>
	<path d="M171,336H70c-5.523,0-10,4.477-10,10s4.477,10,10,10h101c5.523,0,10-4.477,10-10S176.523,336,171,336z" fill="#FFFFFF"/>
	<path d="M322,336H221c-5.523,0-10,4.477-10,10s4.477,10,10,10h101c5.522,0,10-4.477,10-10S327.522,336,322,336z" fill="#FFFFFF"/>
	<path d="M322,86H70c-5.523,0-10,4.477-10,10s4.477,10,10,10h252c5.522,0,10-4.477,10-10S327.522,86,322,86z" fill="#FFFFFF"/>
	<path d="M322,136H221c-5.523,0-10,4.477-10,10s4.477,10,10,10h101c5.522,0,10-4.477,10-10S327.522,136,322,136z" fill="#FFFFFF"/>
	<path d="M322,186H221c-5.523,0-10,4.477-10,10s4.477,10,10,10h101c5.522,0,10-4.477,10-10S327.522,186,322,186z" fill="#FFFFFF"/>
	<path d="M322,236H221c-5.523,0-10,4.477-10,10s4.477,10,10,10h101c5.522,0,10-4.477,10-10S327.522,236,322,236z" fill="#FFFFFF"/>
	<path d="M322,286H221c-5.523,0-10,4.477-10,10s4.477,10,10,10h101c5.522,0,10-4.477,10-10S327.522,286,322,286z" fill="#FFFFFF"/>
	<path d="M171,286H70c-5.523,0-10,4.477-10,10s4.477,10,10,10h101c5.523,0,10-4.477,10-10S176.523,286,171,286z" fill="#FFFFFF"/>
	<path d="M171,136H70c-5.523,0-10,4.477-10,10v101c0,5.523,4.477,10,10,10h101c5.523,0,10-4.477,10-10V146   C181,140.477,176.523,136,171,136z M161,237H80v-81h81V237z" fill="#FFFFFF"/>
	<path d="M422,76h-30V46c0-11.028-8.972-20-20-20H20C8.972,26,0,34.972,0,46v320c0,27.57,22.43,50,50,50h342c27.57,0,50-22.43,50-50   V96C442,84.972,433.028,76,422,76z M422,366c0,16.542-13.458,30-30,30H50c-16.542,0-30-13.458-30-30V46h352v305   c0,13.785,11.215,25,25,25c5.522,0,10-4.477,10-10s-4.478-10-10-10c-2.757,0-5-2.243-5-5V96h30V366z" fill="#FFFFFF"/>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>

                  </div>
                  <div class="banner_service__card__text"><span class="banner_card__card__title">Новости</span>
                    <div class="banner_card__card__describe">
                      <p>Наши клиенты первыми узнают обо всех важных событиях и получают оперативную аналитику</p>
                      <div class="scroll_down arrow">
                        <div class="scroll_down__line"></div><a href="#scroll_news" class="scroll_down__icon"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--block corporate_news-->
          <div id="scroll_news" class="default_block news">
            <div class="container">
              <div class="row">
                <div data-aos="fade-up" class="col-xs-12">
                  <div class="news__content">
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Kazkom Securities Cameco Corporation в ожидании уранового</a></div>
                      <div class="news__card__type"><a href="#">Обзор рынка</a></div>
                      <div class="news__card__text">
                        <p>Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Обзор банковского сектора Казахстана</a></div>
                      <div class="news__card__type"><a href="#">Макроэкономика</a></div>
                      <div class="news__card__text">
                        <p>2016 год можно назвать годом консолидации ликвидных активов на балансе банков</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Казкоммерц Секьюритиз - Чего ждать от 2017 года</a></div>
                      <div class="news__card__type"><a href="#">Инвестиционные идеи</a></div>
                      <div class="news__card__text">
                        <p>Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Kazkom Securities Cameco Corporation в ожидании уранового</a></div>
                      <div class="news__card__type"><a href="#">Обзор рынка</a></div>
                      <div class="news__card__text">
                        <p>Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Обзор банковского сектора Казахстана</a></div>
                      <div class="news__card__type"><a href="#">Макроэкономика</a></div>
                      <div class="news__card__text">
                        <p>2016 год можно назвать годом консолидации ликвидных активов на балансе банков</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Казкоммерц Секьюритиз - Чего ждать от 2017 года</a></div>
                      <div class="news__card__type"><a href="#">Инвестиционные идеи</a></div>
                      <div class="news__card__text">
                        <p>Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Kazkom Securities Cameco Corporation в ожидании уранового</a></div>
                      <div class="news__card__type"><a href="#">Обзор рынка</a></div>
                      <div class="news__card__text">
                        <p>Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Обзор банковского сектора Казахстана</a></div>
                      <div class="news__card__type"><a href="#">Макроэкономика</a></div>
                      <div class="news__card__text">
                        <p>2016 год можно назвать годом консолидации ликвидных активов на балансе банков</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Казкоммерц Секьюритиз - Чего ждать от 2017 года</a></div>
                      <div class="news__card__type"><a href="#">Инвестиционные идеи</a></div>
                      <div class="news__card__text">
                        <p>Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Kazkom Securities Cameco Corporation в ожидании уранового</a></div>
                      <div class="news__card__type"><a href="#">Обзор рынка</a></div>
                      <div class="news__card__text">
                        <p>Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Обзор банковского сектора Казахстана</a></div>
                      <div class="news__card__type"><a href="#">Макроэкономика</a></div>
                      <div class="news__card__text">
                        <p>2016 год можно назвать годом консолидации ликвидных активов на балансе банков</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17</span></div>
                    </div>
                    <div class="news__card">
                      <div class="news__card__title"><a href="#">Казкоммерц Секьюритиз - Чего ждать от 2017 года</a></div>
                      <div class="news__card__type"><a href="#">Инвестиционные идеи</a></div>
                      <div class="news__card__text">
                        <p>Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.</p>
                      </div>
                      <div class="news__card__date"><span>06.02.17									</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--block	specialists-->
          <div class="default_block specialists">
            <div class="container">
              <div class="row">
                <div data-aos="fade-up" class="col-xs-12 col-md-8 col-md-offset-2">
                  <div class="default_block__title"><span>Лучшие специалисты – гарант успеха</span></div>
                  <div class="default_block__text">
                    <p>Более подробную информацию Вы можете получить у наших специалистов</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="specialists_cards__wrap">
                  <div data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease" class="specialists_cards__item">
                    <div class="specialists_photo"><img src="../images/manager1.jpg" alt=""></div>
                    <div class="specialists_name"><span>Нурлан Ашинов </span></div>
                    <div class="specialists_contact"><span>research@kazks.kz вн. 58005</span></div>
                  </div>
                  <div data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease" class="specialists_cards__item">
                    <div class="specialists_photo"><img src="../images/person8.jpg" alt=""></div>
                    <div class="specialists_name"><span>Асель Акбарова</span></div>
                    <div class="specialists_contact"><span>AAkbarova@kkb.kz вн. 58025</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-->
      <footer class="footer">
        <div class="container">
          <div class="footer_wrap"><a href="#header" class="scroll_up">
              <div class="scroll_up__wrapper">
                <div class="scroll_up__icon"></div>
                <div class="scroll_up__line"></div>
              </div></a>
            <div class="footer_top">
              <div class="footer_top__nav"><span class="footer_top__nav__title">О компании</span>
                <ul>
                  <li><a href="#">Коротко о нас</a></li>
                  <li><a href="#">Наша команда</a></li>
                  <li><a href="#">Награды</a></li>
                  <li><a href="#">Сделки</a></li>
                  <li><a href="#">Корпоративное управление</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
              <div class="footer_top__nav"><span class="footer_top__nav__title">Услуги</span>
                <ul>
                  <li><a href="#">Брокерское обслуживание</a></li>
                  <li><a href="#">Управление активами</a></li>
                  <li><a href="#">Инвестиционный Банкинг</a></li>
                  <li><a href="#">Маркет-мейкерство</a></li>
                  <li><a href="#">ПДО</a></li>
                </ul>
              </div>
              <div class="footer_top__nav"><span class="footer_top__nav__title">Аналитика</span>
                <ul>
                  <li><a href="#">Обзор рынка</a></li>
                  <li><a href="#">Макроэкономика и отраслевой анализ</a></li>
                  <li><a href="#">Инвестиционные</a></li>
                  <li><a href="#">Рекомендации</a></li>
                  <li><a href="#">Каленьдарь событий</a></li>
                  <li><a href="#">Отчеты ПДО</a></li>
                </ul>
              </div>
              <div class="footer_top__right">
                <div class="footer_top__contact"><span class="footer_top__contact__phone">+7 (727) 244-65-05<small>Для звонков по Казахстану</small></span><small class="footer_top__contact__map">ул.Фурманова 240 Г, БЦ «CDC ONE», 10-11 этаж.</small></div>
                <div class="footer_top__social">
                  <div class="footer_top__social__icon__wrap"><a href="#" class="footer_top__social__icon"><img src="/images/icons/facebook.svg" alt=""></a><a href="#" class="footer_top__social__icon"><img src="/images/icons/instagram.svg" alt=""></a></div>
                </div>
                <div class="footer_top__buttons__wrap"><a href="#subscribe_popup" class="btn btn--light popup-with-move-anim">Подписка на аналитику</a><a href="#qtrader_callback_popup" class="btn btn--light popup-with-move-anim">Заказать звонок</a></div>
              </div>
            </div>
            <div class="footer_bottom">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>Акционерное общество «Казкоммерц Секьюритиз» (дочерняя организация АО «Казкоммерцбанк»).</p>
                <p>Лицензия на осуществление деятельности по управлению инвестиционным портфелем  без  права  привлечения  добровольных  пенсионных  взносов  №0403200439  от  24.06.2014 </p>
                <p>Лицензия на занятие брокерской и дилерской деятельностью на рынке ценных бумаг с правом ведения счетов клиентов  в  качестве  номинального  держателя  №0401201207   от  17.05.2006</p><span class="footer_bottom__copyright">© АО «Казкоммерц Секьюритиз». Все права защищены.</span>
                <div class="logo-ibecsystems"> <span>Сделано в</span><a href="#"><img src="/images/icons/ibec-systems.svg" alt="ibecsystems"></a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- popup windows-->
      <div id="investment-popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Оставьте контактные данные и мы свяжемся с Вами</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <input type="tel" placeholder="Телефон" minlength="18" required>
            <button class="btn btn--beige">Подать заявку</button>
          </form>
        </div>
      </div>
      <div id="qtrader_callback_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Оставьте контактные данные и мы свяжемся с Вами</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <input type="tel" placeholder="Телефон" minlength="18" required>
            <button class="btn btn--default">Заказать звонок</button>
          </form>
        </div>
      </div>
      <div id="subscribe_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <button class="btn btn--default">Подписаться</button>
          </form>
        </div>
      </div>
      <div id="open_account_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Откройте счет прямо сейчас</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="tel" placeholder="Телефон" required>
            <input type="text" placeholder="Адрес проживания/прописки" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <div class="flex-wrap flex-center input_file">
              <label for="file">Загрузить файл/удостоверение личности</label><span class="btn--doc"></span>
              <input type="file" id="file">
            </div>
            <div class="flex-vertical"><span>или</span><span>Отправить файл/удостоверение личности на WhatsApp +7 (701) 783-44-87</span>
              <button class="btn btn--beige">Отправить</button>
            </div>
          </form>
        </div>
      </div>
      <div id="contact_page_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_form">
          <form action="#" method="">
            <div class="flex-wrap">
              <input type="text" placeholder="ФИО" minlength="6" required>
              <input type="email" placeholder="E-mail" required>
            </div>
            <textarea placeholder="Сообщение" required></textarea>
            <button class="btn btn--beige">Отправить</button>
          </form>
        </div>
      </div>
      <div id="success_message" class="zoom-anim-dialog mfp-hide popup">
        <p>Ваше сообщение доставлено.</p>
      </div>
      <!-- vendor scripts-->
      <script src="/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/vendor/swiper/dist/js/swiper.min.js"></script>
      <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
      <script src="/vendor/matchHeight/dist/jquery.matchHeight-min.js"></script>
      <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
      <script src="/vendor/aos/dist/aos.js"></script>
      <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/vendor/rellax/rellax.min.js"></script>
      <script src="/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
      <script src="/vendor/jquery.form-styler/jquery.formstyler.min.js"></script>
      <script src="/vendor/fancyselect/fancySelect.js"></script>
      <script src="/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
      <script src="/vendor/Inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
      <script src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <!-- common.js-->
      <script src="/scripts/common.min.js"></script>
    </div>
  </body>
</html>

src/jade/news.jade
extends template/template.jade

block content

	#layout_news.layout_default

		//block banner		
		.banner_service.banner
			.banner_service__card.news
				.container
					.breadcrumbs
						.breadcrumbs_inset
							a(href="#").breadcrumb_inset__link Главная
							span.navigation_page Новости
					.banner_service__card__content.rellax(data-rellax-speed="2")
						.banner_service__card__icon
							include ../images/icons/news-hover.svg
						.banner_service__card__text
							span.banner_card__card__title Новости
							.banner_card__card__describe
								p Наши клиенты первыми узнают обо всех важных событиях и получают оперативную аналитику
								
								.scroll_down.arrow
									.scroll_down__line
									a(href="#scroll_news").scroll_down__icon

		//block corporate_news
		.default_block.news#scroll_news
			.container
				.row
					.col-xs-12(data-aos="fade-up")
						.news__content
							.news__card
								.news__card__title
									a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
								.news__card__type
									a(href="#") Обзор рынка
								.news__card__text
									p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Обзор банковского сектора Казахстана
								.news__card__type
									a(href="#") Макроэкономика
								.news__card__text
									p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
								.news__card__type
									a(href="#") Инвестиционные идеи
								.news__card__text
									p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
								.news__card__date
									span 06.02.17
						
					
							.news__card
								.news__card__title
									a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
								.news__card__type
									a(href="#") Обзор рынка
								.news__card__text
									p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Обзор банковского сектора Казахстана
								.news__card__type
									a(href="#") Макроэкономика
								.news__card__text
									p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
								.news__card__type
									a(href="#") Инвестиционные идеи
								.news__card__text
									p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
								.news__card__type
									a(href="#") Обзор рынка
								.news__card__text
									p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Обзор банковского сектора Казахстана
								.news__card__type
									a(href="#") Макроэкономика
								.news__card__text
									p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
								.news__card__type
									a(href="#") Инвестиционные идеи
								.news__card__text
									p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
								.news__card__date
									span 06.02.17
						
					
							.news__card
								.news__card__title
									a(href="#") Kazkom Securities Cameco Corporation в ожидании уранового
								.news__card__type
									a(href="#") Обзор рынка
								.news__card__text
									p Продолжающейся рост цен на уран подстегивает вверх котироки уранодобывающих компаний.
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Обзор банковского сектора Казахстана
								.news__card__type
									a(href="#") Макроэкономика
								.news__card__text
									p 2016 год можно назвать годом консолидации ликвидных активов на балансе банков
								.news__card__date
									span 06.02.17

							.news__card
								.news__card__title
									a(href="#") Казкоммерц Секьюритиз - Чего ждать от 2017 года
								.news__card__type
									a(href="#") Инвестиционные идеи
								.news__card__text
									p Мы подготовили краткий обзор того, чего мы ожидаем в 2017 году.
								.news__card__date
									span 06.02.17									

		//block	specialists
		
		.default_block.specialists
			.container
				.row
					.col-xs-12.col-md-8.col-md-offset-2(data-aos="fade-up")
						.default_block__title
							span Лучшие специалисты – гарант успеха
						.default_block__text
							p Более подробную информацию Вы можете получить у наших специалистов
				.row
					.specialists_cards__wrap
						.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
							.specialists_photo
								img(src="../images/manager1.jpg", alt="")
							.specialists_name
								span Нурлан Ашинов 
							.specialists_contact
								span research@kazks.kz вн. 58005

						.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
							.specialists_photo
								img(src="../images/person8.jpg", alt="")
							.specialists_name
								span Асель Акбарова
							.specialists_contact
								span AAkbarova@kkb.kz вн. 58025
