build/html/pdo.html
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Aidar FrontEnd">
    <meta name="author" content="Aidar">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><style>#page-preloader { position: fixed;left: 0; top: 0;right: 0;bottom: 0;background: #fff; z-index: 100500;}#page-preloader .spinner { width: 400px; height: 300px; position: absolute;left: 50%; top: 50%; transform: translate(-50%, -50%); background: url('../images/icons/preloader.gif') center center no-repeat;}</style>		
    <link rel="stylesheet" href="../css/vendor.min.css">
    <link rel="stylesheet" href="../css/common.min.css">
    <title>Заголовок</title>
  </head>
  <body>
    <div id="page-preloader"><span class="spinner"></span></div>
    <div class="wrapper">
      <!-- header-->
      <header id="header" class="header">
        <div class="container">
          <div class="header_wrap">
            <button class="header_mobile__menu hidden-md hidden-lg"><img src="/images/icons/menu-icon.png" alt=""></button>
            <div class="header_logo"><a href="/"><img src="/images/icons/logo.png" alt="logo" class="header_logo__img"></a></div>
            <div class="header_nav">
              <div class="header_nav__call visible-lg visible-md"><span>+7 (727) 244-65-05</span></div>
              <div class="header_nav__menu">
                <ul class="main_menu">
                  <li><a href="#">О компании</a>
                    <div class="header_nav__menu__dropdown">
                      <ul class="container">
                        <li><a href="#">Коротко о нас</a></li>
                        <li><a href="#">Наша команда</a></li>
                        <li><a href="#">Награды</a></li>
                        <li><a href="#">Сделки</a></li>
                        <li><a href="#">Корпоративное управление</a></li>
                        <li><a href="#">Карьера</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Услуги</a>
                    <div class="header_nav__menu__dropdown">
                      <ul class="container">
                        <li><a href="#">Пункт меню 1</a></li>
                        <li><a href="#">Пункт меню 2</a></li>
                        <li><a href="#">Пункт меню 3</a></li>
                        <li><a href="#">Пункт меню 4</a></li>
                      </ul>
                    </div>
                  </li>
                  <li><a href="#">Аналитика</a></li>
                  <li><a href="#">Study room</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
            </div>
            <div class="header_right-block">
              <div class="header_right-block__social"><a href="#" class="header_right-block__social__icon visible-lg visible-md"><img src="/images/icons/facebook.svg" alt=""></a><a href="#" class="header_right-block__social__icon visible-lg visible-md"><img src="/images/icons/instagram.svg" alt=""></a>
                <div class="header_right-block__social__icon change_lang">Ru
                  <div class="multi_lang"><a href="" class="multi_lang__type">Kz						</a><a href="" class="multi_lang__type">Eng						</a></div>
                </div><a href="#" class="header_right-block__social__icon show__search"><img src="/images/icons/search.svg" alt="" class="visible-lg visible-md"><img src="/images/icons/search-mobile.png" alt="" class="hidden-md hidden-lg"></a>
              </div>
              <div class="header_right-block__buttons visible-lg visible-md"><a href="#" class="btn btn--beige">QTrader</a><a href="#" class="btn btn--default">Открыть счет</a></div>
            </div>
            <div class="header_search-block">
              <form action="#" name="header_search-block">
                <input type="search" placeholder="Что вы искали?">
                <button>Найти</button>
              </form>
              <button class="header_search-block__close arrow bounce"><img src="/images/icons/closed.svg" alt=""></button>
            </div>
            <!--mobile menu-->
            <ul class="mobile_menu">
              <li class="mobile_menu__accordion"><a href="#">О компании								</a>
                <ul class="mobile_menu__dropdown">
                  <li><a href="#">Коротко о нас</a></li>
                  <li><a href="#">Наша команда</a></li>
                  <li><a href="#">Награды</a></li>
                  <li><a href="#">Сделки</a></li>
                  <li><a href="#">Корпоративное управление</a></li>
                  <li><a href="#">Карьера</a></li>
                </ul>
              </li>
              <li class="mobile_menu__accordion"><a href="#">Услуги								</a>
                <ul class="mobile_menu__dropdown">
                  <li><a href="#">Пункт меню 1</a></li>
                  <li><a href="#">Пункт меню 2</a></li>
                  <li><a href="#">Пункт меню 3</a></li>
                  <li><a href="#">Пункт меню 4</a></li>
                </ul>
              </li>
              <li><a href="#">Аналитика</a></li>
              <li><a href="#">Study room</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>
          </div>
        </div>
      </header>
      <!-- main-->
      <div class="main">
        <div id="layout_pdo" class="layout_default">
          <!--block banner-->
          <div class="banner_service banner">
            <div class="banner_service__card pdo">
              <div class="container">
                <div class="breadcrumbs">
                  <div class="breadcrumbs_inset"><a href="#" class="breadcrumb_inset__link">Главная</a><a href="#" class="breadcrumb_inset__link">Услуги</a><span class="navigation_page">Пдо</span></div>
                </div>
                <div data-rellax-speed="2" class="banner_service__card__content rellax">
                  <div class="banner_service__card__icon"><?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   version="1.1"
   id="Layer_1"
   x="0px"
   y="0px"
   viewBox="0 0 511.999 511.999"
   style="enable-background:new 0 0 511.999 511.999;"
   xml:space="preserve"
   width="512px"
   height="512px"
   sodipodi:docname="pdo-banner-icon.svg"
   inkscape:version="0.92.1 r15371"><metadata
     id="metadata73"><rdf:RDF><cc:Work
         rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" /><dc:title></dc:title></cc:Work></rdf:RDF></metadata><defs
     id="defs71" /><sodipodi:namedview
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1"
     objecttolerance="10"
     gridtolerance="10"
     guidetolerance="10"
     inkscape:pageopacity="0"
     inkscape:pageshadow="2"
     inkscape:window-width="716"
     inkscape:window-height="480"
     id="namedview69"
     showgrid="false"
     inkscape:zoom="0.4609375"
     inkscape:cx="256"
     inkscape:cy="256"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="0"
     inkscape:current-layer="Layer_1" /><g
     id="g6"
     style="fill:#ffffff"><g
       id="g4"
       style="fill:#ffffff"><path
         d="M428.157,157.414l-95.53-69.366c-3.533-2.565-8.476-1.781-11.043,1.752c-2.566,3.533-1.78,8.477,1.753,11.043    l95.531,69.365c1.403,1.018,3.027,1.509,4.638,1.509c2.444,0,4.856-1.131,6.404-3.261    C432.476,164.923,431.691,159.979,428.157,157.414z"
         fill="#15346d"
         id="path2"
         style="fill:#ffffff" /></g></g><g
     id="g12"
     style="fill:#ffffff"><g
       id="g10"
       style="fill:#ffffff"><path
         d="M192.857,119.471c-0.684-4.312-4.735-7.258-9.047-6.569L67.212,131.405c-4.312,0.684-7.253,4.735-6.569,9.047    c0.618,3.893,3.978,6.668,7.798,6.668c0.412,0,0.83-0.032,1.249-0.099l116.599-18.503    C190.602,127.834,193.543,123.784,192.857,119.471z"
         fill="#15346d"
         id="path8"
         style="fill:#ffffff" /></g></g><g
     id="g18"
     style="fill:#ffffff"><g
       id="g16"
       style="fill:#ffffff"><path
         d="M508.737,132.553L331.322,3.731c-1.696-1.231-3.81-1.741-5.884-1.41c-2.07,0.329-3.926,1.466-5.159,3.162l-77.371,106.558    l-10.653-67.129c-0.328-2.071-1.466-3.926-3.163-5.159s-3.815-1.738-5.884-1.41L6.668,72.706    c-4.312,0.684-7.253,4.735-6.569,9.046L42.39,348.265c0.329,2.071,1.466,3.926,3.162,5.159c1.359,0.987,2.986,1.508,4.645,1.508    c0.412,0,0.826-0.033,1.239-0.098l49.757-7.896v84.826c0,4.366,3.54,7.906,7.906,7.906H328.35c4.367,0,7.906-3.54,7.906-7.906    v-22.293c5.424-3.115,10.547-6.711,15.304-10.779l19.699,19.7l-6.335,6.335c-3.087,3.087-3.087,8.093,0,11.181l71.554,71.554    c1.544,1.544,3.567,2.316,5.591,2.316c2.023,0,4.047-0.772,5.591-2.316l23.852-23.852c1.482-1.482,2.315-3.493,2.315-5.59    c0-2.097-0.833-4.108-2.315-5.59l-71.555-71.554c-1.483-1.483-3.494-2.316-5.591-2.316c-2.097,0-4.107,0.833-5.591,2.316    l-6.335,6.335l-19.699-19.699c15.601-18.212,24.111-41.137,24.111-65.374c0-2.593-0.108-5.219-0.311-7.84L510.49,143.594    C513.056,140.061,512.271,135.117,508.737,132.553z M394.365,417.648l60.374,60.374l-12.671,12.671l-60.373-60.374    L394.365,417.648z M101.194,161.916v32.401l-23.409,3.715c-4.312,0.684-7.253,4.735-6.569,9.047    c0.618,3.893,3.978,6.668,7.798,6.668c0.412,0,0.83-0.032,1.249-0.099l20.931-3.321v52.297l-12.837,2.036    c-4.312,0.684-7.253,4.735-6.569,9.047c0.618,3.893,3.978,6.668,7.798,6.668c0.412,0,0.83-0.032,1.249-0.099l10.359-1.643v52.297    l-44.428,7.05L16.954,87.083L217.88,55.199l11.891,74.935l-17.337,23.876H109.099C104.733,154.011,101.194,157.55,101.194,161.916    z M320.445,423.859h-203.44V337.68v-68.306v-68.305v-31.245h99.445c0.002,0,0.004,0.001,0.006,0.001    c0.003,0,0.006-0.001,0.008-0.001h26.352h63.256c0.002,0,0.004,0.001,0.006,0.001c0.003,0,0.006-0.001,0.01-0.001h14.355v8.26    v49.379c-10.927-3.974-22.402-5.988-34.258-5.988c-2.209,0-4.408,0.081-6.595,0.223c-0.59-0.14-1.204-0.223-1.837-0.223H159.695    c-4.366,0-7.906,3.54-7.906,7.906c0,4.366,3.54,7.906,7.906,7.906h72.318c-8.542,5.461-16.309,12.243-22.991,20.213    c-7.884,9.4-13.876,19.955-17.874,31.437h-31.452c-4.366,0-7.906,3.54-7.906,7.906c0,4.366,3.54,7.906,7.906,7.906h27.336    c-1.003,5.733-1.51,11.552-1.51,17.393c0,11.865,2.011,23.34,5.978,34.258h-31.803c-4.366,0-7.906,3.54-7.906,7.906    c0,4.366,3.54,7.906,7.906,7.906h39.156c17.95,31.328,50.971,50.596,87.335,50.596c11.864,0,23.339-2.011,34.258-5.978V423.859z     M346.188,382.14c-0.001,0.001-0.002,0.002-0.003,0.003c-6.308,6.308-13.52,11.556-21.433,15.601    c-12.005,6.137-24.98,9.249-38.565,9.249c-32.039,0-61.01-17.737-75.606-46.289c-0.001-0.002-0.002-0.004-0.003-0.006    c-6.135-12.003-9.245-24.976-9.245-38.559c0-7.835,1.079-15.623,3.209-23.145c3.273-11.563,8.858-22.107,16.598-31.337    c16.185-19.302,39.894-30.372,65.048-30.372c13.569,0,26.545,3.116,38.564,9.263c25.594,13.089,42.713,37.895,45.788,66.358    c0.001,0.005,0.002,0.011,0.002,0.017c0.331,3.074,0.5,6.174,0.5,9.216C371.041,344.806,362.215,366.113,346.188,382.14z     M382.541,292.896c-7.362-24.39-23.782-45.177-46.285-58.078v-41.224l42.976,31.204c1.403,1.018,3.027,1.509,4.638,1.509    c2.444,0,4.856-1.131,6.404-3.261c2.566-3.533,1.78-8.477-1.753-11.043l-52.265-37.949v-12.136c0-4.366-3.539-7.906-7.906-7.906    h-19.696l-15.664-11.374c-3.533-2.565-8.478-1.782-11.043,1.752c-2.151,2.962-1.94,6.91,0.263,9.622h-39.395h-10.843    l12.514-17.234c0.001-0.001,0.002-0.002,0.003-0.004l83.94-115.603l164.621,119.531L382.541,292.896z"
         fill="#15346d"
         id="path14"
         style="fill:#ffffff" /></g></g><g
     id="g24"
     style="fill:#ffffff"><g
       id="g22"
       style="fill:#ffffff"><path
         d="M286.187,255.205c-36.908,0-66.935,30.027-66.935,66.935c0,36.908,30.027,66.935,66.935,66.935    c36.908,0,66.935-30.027,66.935-66.935C353.122,285.231,323.095,255.205,286.187,255.205z M286.187,373.263    c-28.19,0-51.123-22.934-51.123-51.123c0-28.19,22.934-51.123,51.123-51.123c28.19,0,51.123,22.934,51.123,51.123    C337.31,350.329,314.376,373.263,286.187,373.263z"
         fill="#15346d"
         id="path20"
         style="fill:#ffffff" /></g></g><g
     id="g30"
     style="fill:#ffffff"><g
       id="g28"
       style="fill:#ffffff"><path
         d="M308.643,320.766c-3.088-3.087-8.093-3.087-11.182,0l-21.082,21.082c-3.087,3.087-3.087,8.093,0,11.18    c1.544,1.543,3.568,2.316,5.591,2.316s4.047-0.772,5.591-2.316l21.082-21.082C311.731,328.858,311.731,323.852,308.643,320.766z"
         fill="#15346d"
         id="path26"
         style="fill:#ffffff" /></g></g><g
     id="g36"
     style="fill:#ffffff"><g
       id="g34"
       style="fill:#ffffff"><path
         d="M300.21,287.035c-3.088-3.087-8.093-3.087-11.181,0l-23.19,23.19c-3.087,3.087-3.087,8.093,0,11.18    c1.544,1.543,3.568,2.316,5.591,2.316c2.023,0,4.047-0.772,5.591-2.316l23.189-23.19    C303.298,295.127,303.298,290.121,300.21,287.035z"
         fill="#15346d"
         id="path32"
         style="fill:#ffffff" /></g></g><g
     id="g38" /><g
     id="g40" /><g
     id="g42" /><g
     id="g44" /><g
     id="g46" /><g
     id="g48" /><g
     id="g50" /><g
     id="g52" /><g
     id="g54" /><g
     id="g56" /><g
     id="g58" /><g
     id="g60" /><g
     id="g62" /><g
     id="g64" /><g
     id="g66" /></svg>
                  </div>
                  <div class="banner_service__card__text">
                    <div class="banner_card__card__title"> <span>Представитель держателей облигаций</span></div>
                    <div class="banner_card__card__describe">
                      <p>Контроль над исполнением эмитентом своих обязательств</p>
                      <div class="scroll_down arrow">
                        <div class="scroll_down__line"></div><a href="#scroll_pdo" class="scroll_down__icon"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--default block-->
          <div id="scroll_pdo" class="default_block">
            <div class="container">
              <div data-aos="fade-up" class="col-xs-12 col-md-10 col-md-offset-1">
                <div class="default_block__title"><span>Представитель держателей облигаций <br/> (ПДО)</span></div>
                <div class="default_block__text">
                  <p>С целью защиты интересов инвесторов и обеспечения более высокой прозрачности деятельности эмитентов Законом РК «О рынке ценных бумаг» предусмотрена норма о том, что при выпуске и размещении корпоративных облигаций необходимо обязательное наличие представителя держателей облигаций</p>
                </div>
              </div>
            </div>
          </div>
          <!--parallax block-->
          <div class="parallax_block">
            <div data-aos="fade-up" class="container">
              <div class="parallax_block__wrap">
                <div data-rellax-speed="1.5" class="parallax_block__content rellax">
                  <div class="parallax_block__title"><span>Выбор ПДО эмитент осуществляет самостоятельно из числа профессиональных участников рынка ценных бумаг, осуществляющих кастодиальную и (или) брокерскую и дилерскую деятельность на рынке ценных бумаг </span></div>
                </div>
                <div class="parallax_block__img"><img src="/images/pdo-page-img.jpg" alt=""></div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-md-8 col-md-offset-2">
                  <div class="parallax_block__describe"><span>Свои функции представитель осуществляет в течение всего срока обращения облигаций и до момента полного погашения задолженности</span></div>
                </div>
              </div>
            </div>
          </div>
          <!--block info_list-->
          <div class="info_list default_block about_qtrader">
            <div class="container">
              <div data-aos="fade-up" class="row">
                <div class="col-xs-12">
                  <div class="info_list__title"><span>Функции ПДО</span></div>
                  <ul class="info_list__content">
                    <li>Контроль над исполнением эмитентом своих обязательств</li>
                    <li>Контроль своевременных выплат купонного вознаграждения и основного долга</li>
                    <li>Мониторинг и анализ финансового состояния эмитента</li>
                    <li>Контроль состояния залогового обеспечения</li>
                    <li>Регулярное информирование держателей облигаций и уполномоченного органа</li>
                    <li>Защита интересов держателей облигаций при возникновении споров в суде и других инстанциях</li>
                    <li>Контроль целевого использования денег</li>
                    <li>Активное участие в процессах реструктуризации и банкротства</li>
                    <li>Оценка корпоративных событий</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--block	specialists			-->
          <div class="default_block specialists">
            <div class="container">
              <div class="row">
                <div data-aos="fade-up" class="col-xs-12 col-md-10 col-md-offset-1">
                  <div class="default_block__title"><span>Лучшие специалисты – гарант успеха</span></div>
                </div>
              </div>
              <div class="row">
                <div data-aos="fade-up" class="col-xs-12 col-md-6 col-md-offset-3">
                  <div class="default_block__text"><span>Более подробную информацию Вы можете получить у наших специалистов</span></div>
                </div>
              </div>
              <div class="row">
                <div class="specialists_cards__wrap">
                  <div data-aos="fade-up" data-aos-delay="100" data-aos-easing="ease" class="specialists_cards__item">
                    <div class="specialists_photo"><img src="/images/person10.jpg" alt=""></div>
                    <div class="specialists_name"><span>Нурлан Ашинов</span></div>
                    <div class="specialists_contact"><span>research@kazks.kz вн. 58005</span></div>
                  </div>
                  <div data-aos="fade-up" data-aos-delay="200" data-aos-easing="ease" class="specialists_cards__item">
                    <div class="specialists_photo"><img src="/images/person9.jpg" alt=""></div>
                    <div class="specialists_name"><span>Динара Танербергенова</span></div>
                    <div class="specialists_contact"><span>research@kazks.kz вн. 58022</span></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-->
      <footer class="footer">
        <div class="container">
          <div class="footer_wrap"><a href="#header" class="scroll_up">
              <div class="scroll_up__wrapper">
                <div class="scroll_up__icon"></div>
                <div class="scroll_up__line"></div>
              </div></a>
            <div class="footer_top">
              <div class="footer_top__nav"><span class="footer_top__nav__title">О компании</span>
                <ul>
                  <li><a href="#">Коротко о нас</a></li>
                  <li><a href="#">Наша команда</a></li>
                  <li><a href="#">Награды</a></li>
                  <li><a href="#">Сделки</a></li>
                  <li><a href="#">Корпоративное управление</a></li>
                  <li><a href="#">Контакты</a></li>
                </ul>
              </div>
              <div class="footer_top__nav"><span class="footer_top__nav__title">Услуги</span>
                <ul>
                  <li><a href="#">Брокерское обслуживание</a></li>
                  <li><a href="#">Управление активами</a></li>
                  <li><a href="#">Инвестиционный Банкинг</a></li>
                  <li><a href="#">Маркет-мейкерство</a></li>
                  <li><a href="#">ПДО</a></li>
                </ul>
              </div>
              <div class="footer_top__nav"><span class="footer_top__nav__title">Аналитика</span>
                <ul>
                  <li><a href="#">Обзор рынка</a></li>
                  <li><a href="#">Макроэкономика и отраслевой анализ</a></li>
                  <li><a href="#">Инвестиционные</a></li>
                  <li><a href="#">Рекомендации</a></li>
                  <li><a href="#">Каленьдарь событий</a></li>
                  <li><a href="#">Отчеты ПДО</a></li>
                </ul>
              </div>
              <div class="footer_top__right">
                <div class="footer_top__contact"><span class="footer_top__contact__phone">+7 (727) 244-65-05<small>Для звонков по Казахстану</small></span><small class="footer_top__contact__map">ул.Фурманова 240 Г, БЦ «CDC ONE», 10-11 этаж.</small></div>
                <div class="footer_top__social">
                  <div class="footer_top__social__icon__wrap"><a href="#" class="footer_top__social__icon"><img src="/images/icons/facebook.svg" alt=""></a><a href="#" class="footer_top__social__icon"><img src="/images/icons/instagram.svg" alt=""></a></div>
                </div>
                <div class="footer_top__buttons__wrap"><a href="#subscribe_popup" class="btn btn--light popup-with-move-anim">Подписка на аналитику</a><a href="#qtrader_callback_popup" class="btn btn--light popup-with-move-anim">Заказать звонок</a></div>
              </div>
            </div>
            <div class="footer_bottom">
              <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>Акционерное общество «Казкоммерц Секьюритиз» (дочерняя организация АО «Казкоммерцбанк»).</p>
                <p>Лицензия на осуществление деятельности по управлению инвестиционным портфелем  без  права  привлечения  добровольных  пенсионных  взносов  №0403200439  от  24.06.2014 </p>
                <p>Лицензия на занятие брокерской и дилерской деятельностью на рынке ценных бумаг с правом ведения счетов клиентов  в  качестве  номинального  держателя  №0401201207   от  17.05.2006</p><span class="footer_bottom__copyright">© АО «Казкоммерц Секьюритиз». Все права защищены.</span>
                <div class="logo-ibecsystems"> <span>Сделано в</span><a href="#"><img src="/images/icons/ibec-systems.svg" alt="ibecsystems"></a></div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- popup windows-->
      <div id="investment-popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Оставьте контактные данные и мы свяжемся с Вами</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <input type="tel" placeholder="Телефон" minlength="18" required>
            <button class="btn btn--beige">Подать заявку</button>
          </form>
        </div>
      </div>
      <div id="qtrader_callback_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Оставьте контактные данные и мы свяжемся с Вами</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <input type="tel" placeholder="Телефон" minlength="18" required>
            <button class="btn btn--default">Заказать звонок</button>
          </form>
        </div>
      </div>
      <div id="subscribe_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <button class="btn btn--default">Подписаться</button>
          </form>
        </div>
      </div>
      <div id="open_account_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_title"><span>Откройте счет прямо сейчас</span></div>
        <div class="popup_form">
          <form action="#" method="">
            <input type="text" placeholder="ФИО" minlength="6" required>
            <input type="tel" placeholder="Телефон" required>
            <input type="text" placeholder="Адрес проживания/прописки" minlength="6" required>
            <input type="email" placeholder="E-mail" required>
            <div class="flex-wrap flex-center input_file">
              <label for="file">Загрузить файл/удостоверение личности</label><span class="btn--doc"></span>
              <input type="file" id="file">
            </div>
            <div class="flex-vertical"><span>или</span><span>Отправить файл/удостоверение личности на WhatsApp +7 (701) 783-44-87</span>
              <button class="btn btn--beige">Отправить</button>
            </div>
          </form>
        </div>
      </div>
      <div id="contact_page_popup" class="zoom-anim-dialog mfp-hide popup">
        <div class="popup_form">
          <form action="#" method="">
            <div class="flex-wrap">
              <input type="text" placeholder="ФИО" minlength="6" required>
              <input type="email" placeholder="E-mail" required>
            </div>
            <textarea placeholder="Сообщение" required></textarea>
            <button class="btn btn--beige">Отправить</button>
          </form>
        </div>
      </div>
      <div id="success_message" class="zoom-anim-dialog mfp-hide popup">
        <p>Ваше сообщение доставлено.</p>
      </div>
      <!-- vendor scripts-->
      <script src="/vendor/jquery/dist/jquery.min.js"></script>
      <script src="/vendor/swiper/dist/js/swiper.min.js"></script>
      <script src="/vendor/jquery-ui/jquery-ui.min.js"></script>
      <script src="/vendor/matchHeight/dist/jquery.matchHeight-min.js"></script>
      <script src="/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
      <script src="/vendor/aos/dist/aos.js"></script>
      <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/vendor/rellax/rellax.min.js"></script>
      <script src="/vendor/owl.carousel/dist/owl.carousel.min.js"></script>
      <script src="/vendor/jquery.form-styler/jquery.formstyler.min.js"></script>
      <script src="/vendor/fancyselect/fancySelect.js"></script>
      <script src="/vendor/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
      <script src="/vendor/Inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
      <script src="http://api-maps.yandex.ru/2.1.17/?lang=ru_RU" type="text/javascript"></script>
      <script src="https://use.fontawesome.com/d419eefe85.js"></script>
      <!-- common.js-->
      <script src="/scripts/common.min.js"></script>
    </div>
  </body>
</html>

src/jade/pdo.jade
extends template/template.jade

block content

	#layout_pdo.layout_default

		//block banner
		.banner_service.banner
				.banner_service__card.pdo
					.container
						.breadcrumbs
							.breadcrumbs_inset
								a(href="#").breadcrumb_inset__link Главная
								a(href="#").breadcrumb_inset__link Услуги
								span.navigation_page Пдо
						.banner_service__card__content.rellax(data-rellax-speed="2")
							.banner_service__card__icon
								include ../images/icons/pdo-banner-icon.svg
							.banner_service__card__text
								.banner_card__card__title 
									span Представитель держателей облигаций
								.banner_card__card__describe
									p Контроль над исполнением эмитентом своих обязательств
									.scroll_down.arrow
										.scroll_down__line
										a(href="#scroll_pdo").scroll_down__icon

		//default block
		.default_block#scroll_pdo
			.container
				.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Представитель держателей облигаций <br/> (ПДО)
						.default_block__text
							p С целью защиты интересов инвесторов и обеспечения более высокой прозрачности деятельности эмитентов Законом РК «О рынке ценных бумаг» предусмотрена норма о том, что при выпуске и размещении корпоративных облигаций необходимо обязательное наличие представителя держателей облигаций

		//parallax block
		.parallax_block
			.container(data-aos="fade-up")
				.parallax_block__wrap
						.parallax_block__content.rellax(data-rellax-speed="1.5")
							.parallax_block__title
								span Выбор ПДО эмитент осуществляет самостоятельно из числа профессиональных участников рынка ценных бумаг, осуществляющих кастодиальную и (или) брокерскую и дилерскую деятельность на рынке ценных бумаг 
							
						.parallax_block__img
							img(src="/images/pdo-page-img.jpg", alt="")
				.row
					.col-xs-12.col-md-8.col-md-offset-2
						.parallax_block__describe
							span Свои функции представитель осуществляет в течение всего срока обращения облигаций и до момента полного погашения задолженности

		//block info_list
		.info_list.default_block.about_qtrader
			.container
				.row(data-aos="fade-up")
					.col-xs-12
						.info_list__title
							span Функции ПДО
						ul.info_list__content
							li Контроль над исполнением эмитентом своих обязательств
							li Контроль своевременных выплат купонного вознаграждения и основного долга
							li Мониторинг и анализ финансового состояния эмитента
							li Контроль состояния залогового обеспечения
							li Регулярное информирование держателей облигаций и уполномоченного органа
							li Защита интересов держателей облигаций при возникновении споров в суде и других инстанциях
							li Контроль целевого использования денег
							li Активное участие в процессах реструктуризации и банкротства
							li Оценка корпоративных событий
									

		//block	specialists			
		.default_block.specialists
			.container
				.row
					.col-xs-12.col-md-10.col-md-offset-1(data-aos="fade-up")
						.default_block__title
							span Лучшие специалисты – гарант успеха
				.row
					.col-xs-12.col-md-6.col-md-offset-3(data-aos="fade-up")
						.default_block__text
							span Более подробную информацию Вы можете получить у наших специалистов
				.row
					.specialists_cards__wrap
						.specialists_cards__item(data-aos="fade-up" data-aos-delay="100"  data-aos-easing="ease")
							.specialists_photo
								img(src="/images/person10.jpg", alt="")
							.specialists_name
								span Нурлан Ашинов
							.specialists_contact
								span research@kazks.kz вн. 58005

						.specialists_cards__item(data-aos="fade-up" data-aos-delay="200"  data-aos-easing="ease")
							.specialists_photo
								img(src="/images/person9.jpg", alt="")
							.specialists_name
								span Динара Танербергенова
							.specialists_contact
								span research@kazks.kz вн. 58022
